.modal-content{
  height: 450px;

  .modal-variable{
    //overflow: hidden;
    border: 1px solid #E8E9EB;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    height: 100%;
  }
  .modal-editor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #E8E9EB;
    border-bottom: 1px solid #E8E9EB;
    height: 100%;
    .editor{
      height: calc(100% - 150px);
    }
    .explain{
      height: 150px;
      border-top: 1px solid #E8E9EB;
      overflow-y: auto;
    }
  }
  .modal-func{
    border: 1px solid #E8E9EB;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    height: 100%;
  }
}
