.modal-content {
  height: 450px;

  .modal-variable {
    height: 100%;
    padding: 10px;

    // overflow: hidden;
    border: 1px solid #e8e9eb;
    border-radius: 10px 0 0 10px;
  }

  .modal-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    border-top: 1px solid #e8e9eb;
    border-bottom: 1px solid #e8e9eb;

    .editor {
      height: calc(100% - 150px);
    }

    .explain {
      overflow-y: auto;
      height: 150px;
      border-top: 1px solid #e8e9eb;
    }
  }

  .modal-func {
    height: 100%;
    padding: 10px;
    border: 1px solid #e8e9eb;
    border-radius: 0 10px 10px 0;
  }
}
